.breadcrumb {
	margin: 16px;
}

.container {
	min-height: 100vh;
}

.header {
	padding: 0;
}

.title {
	margin: 8px;
}

.form {
	margin: 4px;
	padding: 4px;
}

.header_command {
	margin: 2px 16px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.form_label:first-child {
	width: 140px;
}

.label_detail {
	display: flex;
	padding: 6px;
	align-items: center;
}

.container_labels {
	margin: 16px;
}

.label {
	margin: 6px;
}

.buttons {
	float: right;
}

.button_save {
	margin: 0 6px;
}