.vertical_slider {
	display: inline-block;
	height: 300px;
}

.mouse_container {
    margin: 16px;
}

.hotkey {
	margin: 16px 16px;
}

.key_hold {
	margin: 16px 16px;
}

.breadcrumb {
	margin: 16px 16px;
}

.container {
	min-height: 100vh;
}

.header {
	padding: 0;
}

.buttons_mouse {
	margin: 6px;
}

.input {
    width: calc(100% - 200px);
}

.buttons {
	margin: 16px;
	display: grid;
}

.screenshot_container {
	overflow-x: auto;
}

@media only screen and (max-width: 600px) {
    .command_input{
        display: grid;
    }
    .input {
        width: 100%;
    }
}

.commands {
	display: flex;
}
